#process-list {
  width: 1176px;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
}

#process-list .panel {
  padding: 13px;
  border-color: #e3e3e6;
  border-left-width: 8px;
  border-left-style: solid;
  border-radius: 0;
  margin: 0;
}

#process-list .panel.pending {
  border-left-color: #f7ab59;
}

#process-list .panel.running {
  border-left-color: #1d84c4;
}

#process-list .panel.passed {
  border-left-color: #1bb392;
}

#process-list .panel.failed {
  border-left-color: #eb5463;
}

.process-progress {
  position: relative;
  padding: 10px 0;
  padding-left: 20px;
  width: 100%;
}

.process-progress-bar {
  width: 100%;
  background: #e3e3e6;
  height: 10px;
  border-radius: 30px;
}

.milestone {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  position: absolute;
  background: #e3e3e6;
  top: -4px;
}

.milestone.build {
  left: 0;
}

.milestone.unit {
  left: 50%;
}

.milestone.functional {
  right: 0;
}

.process-progress-status {
  display: inline-block;
  max-width: 95% !important;
  width: 0;
  height: 5px;
  border-radius: 5px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}

.process-progress-status.running {
  background: repeating-linear-gradient(-55deg,#1d84c4,#1d84c4 10px,#239ecf 10px,#239ecf 20px);
}

.process-progress-status.passed {
  background: repeating-linear-gradient(-55deg,#1bb392,#1bb392 10px,#1fc2a7 10px,#1fc2a7 20px);
}

.process-progress-status.failed {
  background: repeating-linear-gradient(-55deg,#eb5463,#eb5463 10px,#f06779 10px,#f06779 20px);
}

.process-progress-current .milestone {
  width: 25px;
  height: 25px;
  text-align: center;
  margin: auto;
  background: #ccc;
  position: absolute;
  top: -3px;
  bottom: 0;
  display: none;
}

.process-progress-current .milestone .glyphicon {
  top: 5px;
  color: #fff;
}

.process-progress-current .milestone.active {
  display: inline-block;
}

.process-progress-current.pending .milestone{
  background: #f7ab59;
}

.process-progress-current.running .milestone{
  background: #1d84c4;
}

.process-progress-current.passed .milestone{
  background: #1bb392;
}

.process-progress-current.failed .milestone{
  background: #eb5463;
}

.process-progress-current .milestone.build {
  left: 5px;
}

.process-progress-current .milestone.unit {
  left: 0;
  right: -35px;
}

.process-progress-current .milestone.functional {
  right: 5px;
  left: auto;
}

.glyphicon-option-horizontal {
  border: 2px solid #fff;
  border-radius: 100%;
  font-size: 12px;
  top: 4px !important;
}

.glyphicon-option-warning:after {
  content: "!";
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  top: -5px;
  position: relative;
}

.process .status {
  font-weight: bold;
  text-transform: capitalize;
}

.failed .status {
  color: #eb5463;
}

.running .status {
  color: #1d84c4;
}

.passed .status {
  color: #1bb392;
}

.pending .status {
  color: #f7ab59;
}
